platform:
  - x64
environment:
  global:
    - BINTRAY_KEY:
        secure: 8A062RqqrETT0aWTiznQdrFMz95U6Nq/mP5hCSNXMRGT3p1ZmyW7Q+kxv3fX/sTL
  # Using preinstalled MSYS2 on AppVeyor
  matrix:
#    - compiler: msbuild
#      CONFIGURATION: Release
#    - compiler: msvc
#      ARCH: x64
#    - compiler: msvc
#      ARCH: x86
#    - compiler: mingw
#    - compiler: cygwin
    - compiler: msys2
      MSYS2_ARCH: x86_64
      MSYS2_DIR: msys64
      MSYSTEM: MINGW64
      CIAO_OPTS: --core:with_emacs_mode=no --core:update_dotemacs=no --with-docs=no
    - compiler: msys2
      MSYS2_ARCH: i686
      MSYS2_DIR: msys64
      MSYSTEM: MINGW32
      CIAO_OPTS: --core:m32=yes --core:with_emacs_mode=no --core:update_dotemacs=no --with-docs=no
build_script:
  - git clone -q --branch=master https://github.com/ciao-lang/ciao.git
  - C:\%MSYS2_DIR%\usr\bin\bash -lc "cd $APPVEYOR_BUILD_FOLDER; exec 0</dev/null; cd ciao; ./ciao-boot.sh local-install $CIAO_OPTS"
  - C:\%MSYS2_DIR%\usr\bin\bash -lc "cd $APPVEYOR_BUILD_FOLDER; exec 0</dev/null; cd ciao; ./ciao-boot.sh gen_pbundle__bin_tgz; cd build/pbundle; PBUNDLE=`echo Ciao-*.tar.gz | sed 's/Ciao-.*-bin/ciao-latest/'`; mv Ciao-*.tar.gz $PBUNDLE; curl -T $PBUNDLE -ujfmc:$BINTRAY_KEY 'https://api.bintray.com/content/ciao-lang/builds/'$PBUNDLE';bt_package=ciao;bt_version=latest;publish=1;override=1'"
