language: cpp

compiler:
  - gcc
  - clang

before_install:
  - echo $LANG
  - echo $LC_ALL
  - if [ $TRAVIS_OS_NAME == linux ]; then sudo apt-get update && sudo apt-get install -y llvm-3.4 llvm-3.4-dev; fi
  - if [ $TRAVIS_OS_NAME == osx ]; then brew update && brew install llvm35 && brew link --force llvm35; fi
  - if [ $TRAVIS_OS_NAME == linux ]; then sudo apt-get install emacs build-essential texlive texinfo imagemagick gcc-multilib libc6-i386 libc6-dev-i386 g++-multilib; fi
  - if [ $TRAVIS_OS_NAME == osx ]; then brew install emacs-mac imagemagick; fi
  - CIAODIR=$TRAVIS_BUILD_DIR; CIAOTGZ=CiaoDE-latest.tar.gz; wget http://ciao-lang.org/packages/master/$CIAOTGZ; mkdir $CIAODIR; tar --directory "$CIAODIR" --strip-components=1 -xvzf "$TRAVIS_BUILD_DIR/$CIAOTGZ"

before_script:
  - mkdir -p $TRAVIS_BUILD_DIR/build
  - cd $CIAODIR; ./ciaosetup configure --prefix=$TRAVIS_BUILD_DIR/build --instype=src --sysavail=user

script:
  - cd $CIAODIR; ./ciaosetup build
  - cd $CIAODIR; ./ciaosetup install

after_success:
  - if [ $TRAVIS_BRANCH == $TRAVIS_TAG ]; then echo "missing deploy"; fi

branches:
  only:
    - master

notifications:
  email: false

env:
  - LANG="en_US.UTF-8"

os:
  - linux
  - osx
